.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d6efd;
  padding: 12px 30px;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
}
